<form action="result">
    <input name="num1" type="number" value="5" />
    <input name="num2" type="number" value="3" /><br />

    <input type="radio" name="operation" value="plus"> Plus<br>
    <input type="radio" name="operation" value="minus"> Minus<br>
    <input type="radio" name="operation" value="multiply"> Multiply<br>
    <input type="radio" name="operation" value="divide" /> Divide<br />

    <input type="submit"/>
</form>