<a asp-controller="Home" asp-action="Registration"><p>Registration</p></a>

<h2>.Net Validation!</h2>
<h2> Just like with console app there are many options for running validation</h2>
<h2>Apps you write will need to have validation on the front-end, back-end, AND talking to external sources such SQL or an API</h2>
<h2>We'll be reviewing a few different ways to do validation in .net, but know that this list is not comprehensive</h2>
<h2>My goal is to highlight the most common and useful ways</h2>

<h2>Ways to Validate in .Net</h2>
<ol>
    <a asp-action="Html5" asp-controller="Validation"><li>Html 5</li></a>
    <a asp-action="DataAno" asp-controller="Validation"><li>Data Annotations</li></a>
    <a asp-action="ControllerSide" asp-controller="Validation"><li>C# Valdiation (in controllers and sometimes models)</li></a>
</ol>

<h2>Less Common Options</h2>
<ol>
    <li>Reg-Ex (On Forms)</li>
    <li>Reg-Ex (in Controllers)</li>
    <li>Javascript (on Forms)</li>
</ol>