@model FirstMVCApp.Models.User
<form method="post" action="result">
    <p>User Name:</p>

    <label asp-for="UserName" class="control-label"></label>
    <input asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>
    @*<input type="text" name="UserName" />*@

    <p>Password:</p>
    <input type="password" name="Password" />

    <input type="submit" />
</form>
