<form method="get">
    <h2>Name</h2>
    <input type="text" name="Name"/>

    <h2>Species</h2>
    <input type="text" name="Species"/>

    <h2>Scales</h2>
    <input type="text" name="Scales"/>

    <h2>IsFreshWater</h2>
    <input type="checkbox" />

    <input type="submit"/>
</form>


<h2>Output</h2>
<p>Name: @ViewBag.Name</p>
<p>Scales: @ViewBag.Scales</p>
<p>@ViewBag.Water</p>
<p>@ViewBag.Salmon</p>