<h1>Data Annotations Demo</h1>
<p>Crap this form is broken and nothing is showing up on the results page? What do?</p>
<form action="UserResult" method="get">
    <h2>UserName</h2>
    <input name="UserName" type="text"/>

    <h2>Password</h2>
    <input name="Password" type="password"/>

    <input type="submit"/>
</form>