
<h2>@ViewBag.error</h2>
<form method="post">

    <h2>User Name: </h2>
    <input type="text" name="UserName"/>

    <h2>Password: </h2>
    <input type="password" name="Password"/>

    <input type="submit"/>
</form>