<form method="post">
    <select name="color" >
        <option name="color" value="white">White</option>
        <option name="color" value="black">Black</option>
        <option name="color" value="red">Red</option>
        <option name="color" value="blue">Blue</option>
        <option name="color" value="green">Green</option>
    </select>

    <input type="submit"/>
</form>