<form action="result">
    <h2>Search Endpoints</h2>
    <p>People<input type="radio" name="Type" value="people" /></p>
    <p>Planets<input type="radio" name="Type" value="planets" /></p>

    <h2>ID</h2> <input type="number" name="Id"/>
    <input type="submit"/>
</form>