@model FirstMVCApp.Models.Fish

<h2>@Model.Name</h2>
<h2>@Model.Scales</h2>
@if (Model.IsFreshWater)
{
    <h2>This is a fresh fishy</h2>
}
else
{
    <h2>This is a salty fish</h2>
}

<h2>@Model.Species</h2>
