@{
    string hello = "hello World";
    int age = 27;
    age *= age;
}

<p>@hello</p>
<h2>Age: @age</h2>
@{ 
    int[] nums = { 2, 3, 67, 199, 302 };
}

@foreach(int i in nums)
{
    if (i % 2 != 0)
    {
    <h2>@i</h2>
    }
}

@if (age % 2 == 0)
{
    <p>Your age is even</p>
}
else
{
    <p>Your age is odd</p>
}