<h2>Login</h2>
<h2 style="color:red;">@ViewBag.Error</h2>
<form method="post">
    <h2>User Name</h2>
    <input type="text" name="Name" />

    <h2>Password</h2>
    <input type="password" name="Password" />

    <input type="submit" />
</form>